<!DOCTYPE html>
{% load static %}
{% load bootstrap5 %}
{# Load CSS and JavaScript #}
{% bootstrap_css %}
{% bootstrap_javascript %}
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Profile Page</title>
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <!-- Container wrapper -->
        <div class="container">
            <!-- Navbar brand -->
            <a class="navbar-brand me-2" href="{% url 'users:index' %}">
                Riding-Sharing-Service
            </a>

            <!-- Toggle button -->
            <button class="navbar-toggler" type="button" data-mdb-toggle="collapse"
                data-mdb-target="#navbarButtonsExample" aria-controls="navbarButtonsExample" aria-expanded="false"
                aria-label="Toggle navigation">
                <i class="fas fa-bars"></i>
            </button>

            <!-- Collapsible wrapper -->
            <div class="collapse navbar-collapse" id="navbarButtonsExample">
                <!-- Left links -->
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link" href="#">Welcome {{ request.session.email }}</a>
                    </li>
                </ul>
                <!-- Left links -->

                <div class="d-flex align-items-center">
                    <a href="{% url 'users:index' %}" type="button" class="btn btn-link px-3 me-2">
                        Home Page
                    </a>
                    <div class="dropdown">
                        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1"
                            data-bs-toggle="dropdown" aria-expanded="false">
                            profile
                        </button>
                        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                            <li><a class="dropdown-item" href="{% url 'users:profile' %}">My Profile</a></li>
                            <li><a class="dropdown-item" href="{% url 'users:edit_profile' %}">Edit Profile</a></li>
                            <li><a class="dropdown-item" href="{% url 'users:logout' %}">Log out</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <!-- Collapsible wrapper -->
        </div>
        <!-- Container wrapper -->
    </nav>
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" />
    <div class="container bootdey flex-grow-1 container-p-y">

        <div class="media align-items-center py-3 mb-3">
            <!-- <img src="https://bootdey.com/img/Content/avatar/avatar1.png" alt="" -->
            <!-- class="d-block ui-w-100 rounded-circle"> -->
            <div class="media-body ml-4">
                <h4 class="font-weight-bold mb-0">{{ user.firstname }} {{ user.lastname }} 
                    <span class="text-muted font-weight-normal">@{{ user.firstname }}</span>
                </h4>
                {% if message %}
                <script>
                    alert('{{ message }}');
                </script>
                {% endif %}
                {% if not user.driver %}
                <a type="button" class="btn btn-secondary btn-sm" href="{% url 'users:driver_register' %}">
                    Register to be a driver
                </a>

                {% endif %}
            </div>
        </div>

        <div class="card mb-4">
            <div class="card-body">
                <table class="table user-view-table m-0">
                    <thead>
                        <tr>
                            <th colspan="2">Personal Info</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Register Date:</td>
                            <td>{{ user.create_date }}</td>
                        </tr>
                        <tr>
                            <td>Email:</td>
                            <td>{{ user.email }}</td>
                        </tr>
                        <tr>
                            <td>Role:</td>
                            {% if user.driver %}
                            <td>driver</td>
                            {% else %}
                            <td>regular user</td>
                            {% endif %}
                        </tr>
                    </tbody>
                </table>
            </div>
            {% if user.driver %}
            <div class="card-body">
                <table class="table user-view-table m-0">
                    <thead>
                        <tr>
                            <th colspan="2">Vehicle Info</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Plate:</td>
                            <td>{{ vehicle.plate }}</td>
                        </tr>
                        <tr>
                            <td>Num_passengers:</td>
                            <td>{{ vehicle.num_passengers }}</td>
                        </tr>
                        <tr>
                            <td>Vehicle_type:</td>
                            <td>{{ vehicle.vehicle_type }}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            {% endif %}
        </div>
    </div>
</body>

</html>